---
import MobileMenu from "./MobileMenu.jsx"
---

<header class="bg-white h-12 flex items-center justify-end shadow-xl"> 
    <nav class="max-w-screen max-h-12 mx-3"> 
        <MobileMenu client:load /> 
    </nav>
</header>